:root {
  --color-bg: #e5e5e5;
  --color-secondary: #14213d;
  --color-primary: #f7df1e;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #ffffff;
  --color-light: rgba(20, 33, 61, 0.6);

  --transition: all 280ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

.navbar_header {
  background-color: var(--color-secondary) !important;
}

.navlink {
  font-size: 15px;
  text-decoration: none;
  color: var(--color-white);
  transition: color 0.2s linear;
}

.navlink:hover {
  color: var(--color-primary);
  transition: color 0.2s linear;
}

.active {
  color: var(--color-primary);
}

.btn-primary {
  background-color: transparent !important;
  border: unset !important;
}

.btn-primary:focus {
  box-shadow: unset !important;
}

.btn-primary:hover {
  border: unset !important;
}

.dropdown-toggle::after {
  color: var(--color-primary);
  font-family: 'icomoon';
  content: '\f078';
  position: absolute;
  border: unset;
  margin-left: 10px;
}

.dropdown-menu {
  border: 1px solid rgb(215, 215, 215) !important;
  margin: 0.5rem 7.5px !important;
}

.dropdown-item {
  color: var(--color-secondary) !important;
  font-size: 15px;
  transition: color 0.2s linear;
}

.dropdown-item:hover {
  background-color: unset;
  color: var(--color-primary) !important;
  transition: color 0.2s linear;
}

.dropdown-divider {
  margin: 0.5rem 15px !important;
}

/* responsiveness */
.hamburger-menu:after {
  color: var(--color-primary);
  font-family: 'icomoon';
  content: '\e5d2';
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 10px;
  cursor: pointer;
}

.close-menu:after {
  color: var(--color-primary);
  font-family: 'icomoon';
  content: '\e5cd';
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 10px;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

.close-menu {
  display: none;
}

@media (max-width: 991px) {
  .hamburger-menu {
    display: block;
  }

  .close-menu {
    display: block;
  }

  .dropdown {
    position: absolute;
    top: 13px;
    right: 95px;
  }
  .navlink {
    color: var(--color-secondary);
  }
}

/* footer */
.footer-link:hover {
  color: var(--color-primary);
}

#menu_items {
  @media (min-width: 992px) {
    width: auto;
  }
}
